<!DOCTYPE HTML>
<html ng-app="adminApp">
	<head>
		<title>{[main]} - {[title]}</title>
		{% include "./modules/header.html" %}
	</head>
	<body ng-controller="adminCtrl">
		<section>
			<header>
				<h1><a href="/">{[title]}</a></h1>
			</header>
			<logs-block></logs-block>
			<nav class="square_choices">
				<article>
					<h1>{[gamesList]}</h1>
					<ul>
						<li ng-repeat="games in gamesList">games.Name</li>
					</ul>
				</article>
			</nav>
			<nav class="square_choices">
				<article>
					<h1>{[createGame]}</h1>
					<span ng-click="">New BlindTest</span><br />
					<span ng-click="">New MC</span>
				</article>
			</nav>
		</section>
		{% include "./modules/footer.html" %}
		<script src="/js/angular/admin.js"></script>
	</body>
</html>