<!DOCTYPE HTML>
<html ng-app="adminApp">
	<head>
		<title>{[main]} - {[title]}</title>
		{% include "./modules/header.html" %}
	</head>
	<body ng-controller="adminCtrl">
		<section>
			<header>
				<h1><a href="/">{[title]}</a></h1>
			</header>
			<logs-block></logs-block>
			<nav class="square_choices">
				<article>
					<h1>{[roomList]}</h1>
					<ul>
						<li ng-repeat="room in rooms">{{room.name}} - {{room.state}} - <span class="action" ng-click="deleteRoom(room.name)">Supprimer</span></li>
					</ul>
					{[newRoomForm.name]}: <input type="text" ng-model="newRoom.name" maxlength="255" placeholder="{[newRoomForm.name]}" />
					{[newRoomForm.quest]}: <select ng-model="newRoom.model" ng-options="questionnaire.selected for questionnaire in questionnaires"></select> - <span class="action" ng-click="createRoom()">{[newRoomForm.create]}</span>
				</article>
			</nav>
			<nav class="square_choices">
				<article>
					<h1>{[createGame]}</h1>
					<span ng-click="">New BlindTest</span><br />
					<span ng-click="">New MC</span>
				</article>
			</nav>
		</section>
		{% include "./modules/footer.html" %}
		<script src="/js/angular/admin.js"></script>
	</body>
</html>