<!DOCTYPE HTML>
<html ng-app="displayApp">
	<head>
		<title>{[main]} - {[title]}</title>
		{% include "./modules/header.html" %}
	</head>
	<body ng-controller="displayCtrl">
		<section>
			<header>
				<h1 title="{[title]}"><a href="/">{{room.name}} [{{room.state}}]</a></h1>
				<div class="info" title="{[infoBar.title]}">
					<span title="{[infoBar.name]}" ng-show="room.name"><strong>{{room.name}} -</strong></span> <span id="roomID" title="{[infoBar.url]}"><strong>{[roomID]}</strong></span> <span ng-show="room.players.length">{{room.players.length}} {[players]}</span> <span ng-show="room.state">- {[infoBar.status]}: {{room.state}}</span>
				</div>
			</header>
			<logs-block></logs-block>
			<div class="blackscreen" ng-show="buzzerName">{{buzzerName}}</div>
			<nav class="square_choices" ng-show="room.state == 'In Game'">
				<article>
					<h1>{[question.current]}: «{{room.quest[room.index].question[languageIndex]}}»</h1>
					<a ng-click="pauseMusic()">{[pauseMusic]}</a><br />
					<a ng-click="playMusic()">{[playMusic]}</a>
				</article>
			</nav>
			<nav class="square_choices" ng-show="room.state == 'In Game' || room.state == 'Open'">
				<article>
					<h1>{[players]} ({{room.players.length}})</h1>
					<ul>	
						<li ng-repeat="player in room.players"><strong>{{player.pseudo}}</strong> {{player.answers[room.index] ? languages[language].responded : languages[language].waitingForAnswers}} ({{player.points}}pts)</li>
					</ul>
				</article>
			</nav>
			<nav class="square_choices" ng-show="room.state == 'Closed'">
				<article>
					<h1>{[results]}</h1>
					<ul>
						<li ng-repeat="player in conclusion.winners">
							<strong>{{player.pseudo}}</strong> ({{player.points}}{[player.points]})
						</li>
					</ul>
				</article>
			</nav>
		</section>
		{% include "./modules/footer.html" %}
		<script src="/js/angular/display.js"></script>
	</body>
</html>