<!DOCTYPE HTML>
<html ng-app="displayApp">
	<head>
		<title>{[main]} - {[title]}</title>
		{% include "./modules/header.html" %}
	</head>
	<body ng-controller="displayCtrl">
		<section>
			<header>
				<h1 title="{[title]}"><a href="/">{{room.name}} [{{room.state}}]</a></h1>
				<div class="info" title="{[infoBar.title]}">
					<span title="{[infoBar.name]}" ng-show="room.name"><strong>{{room.name}} -</strong></span> <span id="roomID" title="{[infoBar.url]}"><strong>{[roomID]}</strong></span> <span ng-show="room.players.length">{{room.players.length}} {[players]}</span> <span ng-show="room.state">- {[infoBar.status]}: {{room.state}}</span>
				</div>
			</header>
			<logs-block></logs-block>
			<div class="blackscreen" ng-show="buzzerName">
				<div>
					{{buzzerName}}
				</div>
				<div>
					<img ng-src="/images/avatars/{{buzzerImg}}.jpg" />
				</div>
			</div>
			<nav class="square_choices" ng-show="room.state == 'In Game' || room.state == 'Open'">
				<ul ng-repeat="player in room.players">
					<li><strong>{{player.pseudo}}</strong></li>
					<li><img ng-src="/images/avatars/{{player.img}}.jpg" /></li>
					<li class="display">{{player.points}}pts</li>
				</ul>
			</nav>
			<nav class="square_choices" ng-show="room.state == 'In Game'">
				<article class="hide">
					<a ng-click="stopMusic()">Toujours arrêter la musique</a> - <a ng-click="pauseMusic()">{[pauseMusic]}</a> - <a ng-click="playMusic()">{[playMusic]}</a>
				</article>
			</nav>
			<nav class="square_choices" ng-show="room.state == 'Closed'">
				<ul ng-repeat="player in conclusion.winners">
					<li><strong>{{player.pseudo}}</strong></li>
					<li><img ng-src="/images/avatars/{{player.img}}.jpg" /></li>
					<li class="display">{{player.points}}pts</li>
				</ul>
			</nav>
		</section>
		{% include "./modules/footer.html" %}
		<script src="/js/angular/display.js"></script>
	</body>
</html>