<!DOCTYPE HTML>
<html ng-app="errorApp">
	<head>
		<title>{[main]} - {[title]}</title>
		{% include "./modules/header.html" %}
	</head>
	<body ng-controller="errorCtrl">
		<section>
			<header>
				<h1><a href="/">{[title]}</a></h1>
			</header>
			<logs-block></logs-block>
			<nav class="square_choices reverse">
				<article>
					<h1>{[h1title]}</h1>
					<p>{[paragraph]}</p>
				</article>
			</nav>
		</section>
		{% include "./modules/footer.html" %}
		<script src="/js/angular/error.js"></script>
	</body>
</html>