<!DOCTYPE HTML>
<html ng-app="indexApp">
	<head>
		<title>{[main]} - {[title]}</title>
		{% include "./modules/header.html" %}
	</head>
	<body ng-controller="indexCtrl">
		<section>
			<header>
				<h1><a href="/">{[title]}</a></h1>
			</header>
			<logs-block></logs-block>
			<nav class="square_choices reverse">
				<article>
					<h1>{[rooms]}</h1>
					<ul>
						<li ng-repeat="room in rooms">
							{{room.name}} ({{room.players.length ? room.players.length : 0}}) - <a href="/player/{{room.url}}">{[join]}</a>
						</li>
					</ul>
				</article>
			</nav>
			<nav class="square_choices reverse">
				<article>
					<h1>{[views]}</h1>
					<ul>
						<li ng-repeat="room in views">
							{{room.name}} ({{room.players.length ? room.players.length : 0}}) - <a href="/display/{{room.url}}">{[join]}</a>
						</li>
					</ul>
				</article>
			</nav>
		</section>
		{% include "./modules/footer.html" %}
		<script src="/js/angular/index.js"></script>
	</body>
</html>