<!DOCTYPE HTML>
<html ng-app="playerApp">
	<head>
		<title>{[main]} - {[title]}</title>
		{% include "./modules/header.html" %}
	</head>
	<body ng-controller="playerCtrl">
		<section>
			<header>
				<h1><a href="/">{[title]}</a></h1>
			</header>
			<logs-block></logs-block>
			<nav class="square_choices" ng-show="room.state == 'Open'">
				<article>
					<h1>{[title]}</h1>
					<p>{[prepare]}</p>
					{[pseudo]}: <input type="text" ng-model="pseudo" placeholder="{[randPseudo]}" /><a ng-click="changePseudo()"> - {[change]}</a>
				</article>
			</nav>
			<nav class="square_choices" ng-show="room.state == 'In Game'">
				<article>
					<h1>{[question.current]}: «{{room.quest[room.index].question[languageIndex]}}»</h1>
					<ul>
						<li ng-repeat="answer in room.quest[room.index].languageAnswers"><a ng-class="{unlink: !canRespond}" ng-click="sendAnswer(answer)">{{answer}}</a></li>
					</ul>
				</article>
			</nav>
			<nav class="square_choices" ng-show="room.state == 'Closed'">
				<article>
					<h1>{[closed]}</h1>
					<p>{[closedP]}: <a ng-href="/view/{{room.identifer}}">{[view]}</a></p>
				</article>
			</nav>
		</section>
		{% include "./modules/footer.html" %}
		<script src="/js/angular/player.js"></script>
	</body>
</html>