<!DOCTYPE HTML>
<html ng-app="playerApp">
	<head>
		<title>{[main]}{{room.name ? ": " + room.name : ""}}</title>
		{% include "./modules/header.html" %}
	</head>
	<body ng-controller="playerCtrl">
		<section>
			<header>
				<h1><a href="/">{{title}}</a></h1>
			</header>
			<logs-block></logs-block>
			<div class="blackscreen" ng-show="buzzerName">
				<div>
					{{buzzerName}}
				</div>
				<div>
					<img ng-src="/images/avatars/{{buzzerImg}}.jpg" />
				</div>
			</div>
			<nav class="square_choices" ng-show="room.state == 'Open'">
				<article>
					<h1>{[title]}</h1>
					<p>
						{[assignedP]} <strong>{[randPseudo]}</strong> ! {[affirmativ]}
					</p>
				</article>
			</nav>
			<nav class="square_choices" ng-show="room.state == 'In Game'">
				<article>
					<h1>{{room.quest[room.index].question[languageIndex]}}</h1>
					<ul ng-show="room.quest[room.index].languageAnswers">
						<li ng-repeat="answer in room.quest[room.index].languageAnswers"><a ng-class="{unlink: !canRespond}" ng-click="sendAnswer(answer)">{{answer}}</a></li>
					</ul>
					<div class="buzzer" ng-hide="room.quest[room.index].languageAnswers" ng-click="buzzer()">Buzzer !</div>
				</article>
			</nav>
			<nav class="square_choices" ng-show="room.state == 'Closed'">
				<article>
					<h1>{[closed]}</h1>
					<p>{[closedP]}: <a ng-href="/display/{{room.identifer}}">{[view]}</a></p>
				</article>
			</nav>
		</section>
		{% include "./modules/footer.html" %}
		<script src="/js/angular/player.js"></script>
	</body>
</html>