/* - Thanks to http://cssload.net/ */
#loadingCircle{
display: inline-block;
position:relative;
width:12px;
height:12px;
margin: 0 5px;}

.loadingCircle{
position:absolute;
background-color:#424F5B;
width:3px;
height:3px;
border-radius:2px;
animation-name:bounce_loadingCircle;
animation-duration:0.56s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#loadingCircle_1{
left:0;
top:5px;
animation-delay:0.21s;
}

#loadingCircle_2{
left:1px;
top:1px;
animation-delay:0.28s;
}

#loadingCircle_3{
top:0;
left:5px;
animation-delay:0.35s;
}

#loadingCircle_4{
right:1px;
top:1px;
animation-delay:0.42s;
}

#loadingCircle_5{
right:0;
top:5px;
animation-delay:0.49s;
}

#loadingCircle_6{
right:1px;
bottom:1px;
animation-delay:0.56s;
}

#loadingCircle_7{
left:5px;
bottom:0;
animation-delay:0.63s;
}

#loadingCircle_8{
left:1px;
bottom:1px;
animation-delay:0.7s;
}

@keyframes bounce_loadingCircle{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}